@model AutotuneWeb.Models.AutotuneResults
@{
    var startDate = DateTime.Now.AddDays(-Model.Job.Days);
    var endDate = DateTime.Now.AddDays(-1);
    var units = Model.Job.Units.ToLower().Contains("mmol") ? "mmol/L" : "mg/dL";
}

@functions{
    private string GetBackground(decimal old, decimal updated)
    {
        var delta = updated - old;
        var percentage = delta * 100 / old;

        if (percentage >= 19 ||
            percentage <= -29)
            return "background-color: rgb(242, 222, 222);";

        if (percentage >= 10 ||
            percentage <= -10)
            return "background-color: rgb(252, 248, 227);";

        return "";
    }

    private string BasalWarning(int daysTotal, int daysMissed)
    {
        var days = new List<string>();

        for (var i = 0; i < daysTotal; i++)
        {
            days.Add($"<div style=\"display: inline-block; height: 5px; width: 5px; margin-left: 1px; background-color: {(i < (daysTotal - daysMissed) ? "green" : "red")}\"></div>");
        }

        return String.Join("", days);
    }
}

<h1>Autotune Results</h1>

<h2><a href="@Model.Job.NSUrl">@Model.Job.NSUrl</a></h2>
<p>Based on data entered between @(startDate.ToString("yyyy-MM-dd")) and @(endDate.ToString("yyyy-MM-dd"))</p>

@if (Model.Job.UAMAsBasal)
{
    <p>
        Unannounced meals were ignored and counted towards basal recommendations. If not all carbs were recorded,
        re-run with the UAM as Basals option disabled.
    </p>
}
else
{
    <p>
        Sudden rises were counted as being triggered by carbs that were not recorded rather than incorrect basals.
        If all carbs were recorded, re-run with the UAM as Basals option enabled.
    </p>
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Parameter</th>
            <th>Original&nbsp;Value</th>
            <th>Autotune&nbsp;Result</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>ISF (@units/U)</th>
            <td>@(Model.PumpISF.ToString("0.0"))</td>
            <td style='@GetBackground(Model.PumpISF, Model.AutotuneISF)'>@(Model.AutotuneISF.ToString("0.0"))</td>
        </tr>
        <tr>
            <th>CR (g/U)</th>
            <td>@(Model.PumpCR.ToString("0.0"))</td>
            <td style='@GetBackground(Model.PumpCR, Model.AutotuneCR)'>@(Model.AutotuneCR.ToString("0.0"))</td>
        </tr>
</table>

<h2>Basal Suggestions</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Time</th>
            <th>Original</th>
            <th>Autotune Result</th>
            <th>Rounded&nbsp;to @Model.Job.PumpBasalIncrement</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var hr in Enumerable.Range(0, 24))
        {
            <tr>
                <th>@(hr.ToString("00")):00</th>
                <td>@(Model.PumpBasals[hr].ToString("0.000"))</td>
                <td>@(Model.AutotuneBasals[hr].ToString("0.000"))</td>
                <td style='@GetBackground(Model.PumpBasals[hr], Model.SuggestedBasals[hr])'>@(Model.SuggestedBasals[hr].ToString("0.000")) <partial name="BasalDaysMissedWeb" model="new Tuple<int, int>(Model.Job.Days, Model.DaysMissed[hr])" /></td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th>Daily Total</th>
            <th>@(Model.PumpBasals.Sum().ToString("0.000"))</th>
            <th>@(Model.AutotuneBasals.Sum().ToString("0.000"))</th>
            <th>@(Model.SuggestedBasals.Sum().ToString("0.000"))</th>
        </tr>
    </tfoot>
</table>

<h2>Notes</h2>
<p>
    Suggestions highlighted in yellow indicate a suggested change of at least 10%, and red indicates a change of +20% or
    -30% (the standard limits imposed by Autotune). Please always take care when adopting any changes suggested by
    Autotune, but especially for these larger highlighted changes.
</p>
<p>
    The green &amp; red blocks next to each basal suggestion indicate how many days the Autotune algorithm used
    actual BG data to produce the suggestion (green) and how many days it averaged the surrounding hours due to
    the data for that hour being dominated by other factors such as carb absorption. This is currently an experimental
    new feature to try to give an indication of how much trust to place in each suggestion.
</p>

@foreach (var log in (string[])ViewBag.Logs)
{
    <p>
        <a href="/Results/DownloadLog?nsUrl=@Model.Job.NSUrl&jobId=@Model.Job.RowKey&filename=@log" class="btn btn-default">Download Log</a>
    </p>
}